.ig-metacard__video-wrapper
	h2= videoTitle
	.ig-metacard__video-placeholder(data-trackable='video')
		video.ig-metacard__video(controls poster=videoPoster)
			source(type='video/webm' src=videoWEBM)
			source(type='video/mp4' src=videoMP4)
			source(type='video/ogg' src=videoOGV)
.ig-metacard__links-wrapper
	h3= linksTitle

	ul.ig-metacard__links
		each link in links
			li
				a(href=link.url data-trackable='link')=link.title
