h1.ig-us-election-2016__heading= heading
.ig-us-election-2016__date
	<span>UPDATED: </span>
	= updated

.ig-us-election-2016__main
	.ig-us-election-2016__summary(data-trackable='summary')
		!= text

	.ig-us-election-2016__charts
		h2 The race for nomination
		h3 Delegates
		.ig-us-election-2016__democrat
			.ig-us-election-2016__total-to-win
				= democratTotalToWin
				| &nbsp;to win
			.ig-us-election-2016__first-place
				.ig-us-election-2016__candidate-label
					= democratFirstCandidate
				.ig-us-election-2016__candidate-result
					.ig-us-election-2016__result-data(style='width:'+(democratFirstCandidateDelegates/democratTotalToWin)*100+'%;')
						= democratFirstCandidateDelegates
			.ig-us-election-2016__second-place
				.ig-us-election-2016__candidate-label
					= democratSecondCandidate
				.ig-us-election-2016__candidate-result
					.ig-us-election-2016__result-data(style='width:'+(democratSecondCandidateDelegates/democratTotalToWin)*100+'%;')
						= democratSecondCandidateDelegates

		.ig-us-election-2016__republican
			.ig-us-election-2016__total-to-win
				= republicanTotalToWin
				| &nbsp;to win
			.ig-us-election-2016__first-place
				.ig-us-election-2016__candidate-label
					= republicanFirstCandidate
				.ig-us-election-2016__candidate-result
					.ig-us-election-2016__result-data(style='width:'+(republicanFirstCandidateDelegates/republicanTotalToWin)*100+'%;')
						= republicanFirstCandidateDelegates
			.ig-us-election-2016__second-place
				.ig-us-election-2016__candidate-label
					= republicanSecondCandidate
				.ig-us-election-2016__candidate-result
					.ig-us-election-2016__result-data(style='width:'+(republicanSecondCandidateDelegates/republicanTotalToWin)*100+'%;')
						= republicanSecondCandidateDelegates

		p.ig-us-election-2016__more-polling
			a(href=morePollingLinkURL)
				= morePollingLinkText

	.ig-us-election-2016__video-wrapper
		h2= videoTitle
		.ig-us-election-2016__video-placeholder(data-n-components='n-video'
			data-n-video-source='brightcove'
			data-n-video-id='4824352444001'
			data-trackable='video')
