h1.ig-us-election-2016__heading= heading
.ig-us-election-2016__date
	<span>UPDATED: </span>
	= updated

.ig-us-election-2016__main
	.ig-us-election-2016__summary(data-trackable='summary')
		!= text

	.ig-us-election-2016__charts
		h2 The race for nomination
		| CHART
		p.ig-us-election-2016__more-polling
			a(href=morePollingLinkURL)
				= morePollingLinkText

	.ig-us-election-2016__video-wrapper
		h2= videoTitle
		.ig-us-election-2016__video-placeholder(data-n-components='n-video'
			data-n-video-source='brightcove'
			data-n-video-id='4824352444001'
			data-trackable='video')
