style
	include ../../../client/summary-card/main.css
	if layout
		if layout == 'layout-a'
			include ../../../client/summary-card/layout-a.css
		else if layout == 'layout-b'
			include ../../../client/summary-card/layout-b.css
		else if layout == 'layout-c'
			include ../../../client/summary-card/layout-c.css

aside(class=`ig-summary-card ig-summary-card--${layout}`)
	if image
		.ig-summary-card__image
			img(src=image)
	.ig-summary-card__content
		if kicker
			.ig-summary-card__kicker!= kicker
		if title
			.ig-summary-card__title!= title
		if subtitle
			.ig-summary-card__subtitle!= subtitle
		if body
			.ig-summary-card__body!= body
