style
	if layout
		if layout == 'layout-a'
			include ../../../client/summary-card/layout-a.css
		else if layout == 'layout-b'
			include ../../../client/summary-card/layout-b.css
		else if layout == 'layout-c'
			include ../../../client/summary-card/layout-c.css
	else
		include ../../../client/summary-card/layout-default.css

aside(class=prefix)
	if image
		div(class=`${prefix}__image`)
			img(src=image)
	div(class=`${prefix}__content`)
		if kicker
			div(class=`${prefix}__kicker`)!= kicker
		if title
			div(class=`${prefix}__title`)!= title
		if subtitle
			div(class=`${prefix}__subtitle`)!= subtitle
		if body
			div(class=`${prefix}__body`)!= body
		if more && more.length
			div(class=`${prefix}__more`)
				if more.length > 1
					ul(class=`${prefix}__link-list`)
						each link, index in more
							if link.text && link.href
								li: a(href=link.href)!= link.text
				else if more.length == 1
					- var link = more[0]
					if link.text && link.href
						a(href=link.href)!= link.text
