form.n-myft-ui.n-myft-ui--follow(
  method="POST"
  data-myft-ui="follow"
  data-concept-id="ZTBiZDJjNjktZmM5OS00ZjMyLWE3MDgtNmMyZTRlOGQ3NjFj-VG9waWNz"
  action="/__myft/api/core/followed/concept/ZTBiZDJjNjktZmM5OS00ZjMyLWE3MDgtNmMyZTRlOGQ3NjFj-VG9waWNz?method=put"
)
	input(type="hidden" value="Artificial Intelligence and Robotics" name="name")
	input(type="hidden" value="topics" name="taxonomy")
	button.n-myft-ui__button.n-myft-ui__button--3(
		aria-label="Follow Artificial Intelligence and Robotics"
		aria-pressed="false"
		data-alternate-label="Unfollow Artificial Intelligence and Robotics"
		data-alternate-text="Following"
		data-trackable="follow"
		title="Follow Artificial Intelligence and Robotics"
		type="submit"
	) Follow
