- var mainHeading = "Robots"
- var subHeadingFirst = "Friend"
- var subHeadingSecond = "or foe?"
- var mainTextBefore = "Are the robots coming for all our jobs, as many fear - or will we work with them as colleagues? Find out in the third part of our special FT series."
- var mainTextDuring = "Are the robots coming for all our jobs, as many fear - or will we work with them as colleagues? Find out in the third part of our special FT series."
- var mainTextAfter = "Are the robots coming for all our jobs, as many fear - or will we work with them as colleagues? Find out in the third part of our special FT series."

//- Each day's subText
- var subTextOne = "Day 1: The Robot Economy"
- var subTextTwo = "Day 2: Living With Robots"
- var subTextThree = "Day 3: Working With Robots"
- var subTextFour = "Day 4: The Human / Robot Future"
- var subTextDefault = ""

- var launchWeek = new Date('May 2, 2016 00:00:01')
- var launchDate = new Date('May 3, 2016 00:00:01')
- var endLaunchWeek = new Date('May 9, 2016 00:00:01')
- var endDate = new Date('May 11, 2016 00:00:01')
- var today = new Date()
- var currDay = today.getDay()
- var currHour = today.getHours()

.ig-ai-robotics
	.ig-ai-robotics__robot-hand
		include ./svg/robot-hand.svg

	.ig-ai-robotics__section.ig-ai-robotics__section--heading(data-o-grid-colspan="12")
		.ig-ai-robotics__main-heading= mainHeading

	.ig-ai-robotics__section.ig-ai-robotics__section--subheading(data-o-grid-colspan="12 M7 L8")
		.ig-ai-robotics__sub-heading
			span= subHeadingFirst
			span= subHeadingSecond
		include _follow-button.jade

	.ig-ai-robotics__robot-head
		include ./svg/robot-head.svg

	.ig-ai-robotics__section.ig-ai-robotics__section--explainer(data-o-grid-colspan="12 M5 L4")
		if today < launchWeek
			.ig-ai-robotics__main-text= mainTextBefore
		if today > launchWeek && today < endLaunchWeek
			.ig-ai-robotics__main-text= mainTextDuring
		if today > endLaunchWeek
			.ig-ai-robotics__main-text= mainTextAfter

		if today > launchDate && today < endDate
			if currHour > 5
				case currDay
					when 2
						.ig-ai-robotics__sub-text= subTextOne
					when 3
						.ig-ai-robotics__sub-text= subTextTwo
					when 4
						.ig-ai-robotics__sub-text= subTextThree
					when 5
						.ig-ai-robotics__sub-text= subTextFour
					default
						.ig-ai-robotics__sub-text= subTextDefault
			else
				case currDay
					when 2
						.ig-ai-robotics__sub-text= subTextDefault
					when 3
						.ig-ai-robotics__sub-text= subTextOne
					when 4
						.ig-ai-robotics__sub-text= subTextTwo
					when 5
						.ig-ai-robotics__sub-text= subTextThree
					when 6
						.ig-ai-robotics__sub-text= subTextFour
					default
						.ig-ai-robotics__sub-text= subTextDefault
		else
			.ig-ai-robotics__sub-text= subTextDefault
